//html {
//  font-size: 14px;
//}
//@media screen and (min-width: 320px) {
//  html {
//    font-size: calc(14px + 2 * ((100vw - 320px) / 680));
//  }
//}
//@media screen and (min-width: 1200px) {
//  html {
//    font-size: 16px;
//  }
//}

* {
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6, p, a {
  color: white;
}


.main {
  background-color: #212121;
  height: 8000px;
  .main-bg {
    position: absolute;
    height: 8000px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
}

.heroArea {
  z-index: 20;
}

