* {
  color: white;
  font-family: Montserrat, sans-serif;
}

.main {
  background-color: #212121;
  height: 8000px;
  .main-bg {
    position: absolute;
    height: 8000px;
    width: 100%;
    object-fit: cover;
    z-index: 10;
  }
}

.heroArea {
  z-index: 20;
}
