.g09 {
  .g09-content {
    margin-right: -1rem;
    margin-left: -1rem;
  }
  .g09TitleL2 {
    margin-top: -15px;
  }
}

.g09Element {
  max-width: 400px;
  .readMoreLink {
    a {
      border-bottom: 10px solid #afc67b;
    }
  }
}
