.g06 {
  height: 183vh;
}
.g06-marginTop {
  height: 240px;
}
.g06-main {
  background-color: #424639;
  .g06TitleL2 {
    margin-top: -15px;
  }
  .g06-content{
    .g06Element {
      p {
        max-width: 409px;
      }
    }
  }
}

@media (max-width: 480px) {
  .g06 {
    height: 300vh;
  }
}
