$primary: #afc67b;
$secondary: #4d5342;

header {
  .header-content {
    max-width: 1440px;
    margin: auto;
    position: relative;
    z-index: 20;
    nav {
      position: relative;
      z-index: 30;
      ul {
        padding: 3rem 4rem;
        display: flex;
        justify-content: flex-end;
        //margin-right: -0.7rem;
      }

      li {
        display: inline;
        margin-left: 1rem;

        &:nth-child(2) {
          margin-left: 3rem;
        }
      }

      a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 2.2rem;
        color: $primary;
        padding: 0.5rem;
        border: solid transparent 1px;
        transition: border-color 100ms ease-in-out;
        &:hover {
          border-color: $primary;
        }
      }

      .menuOpenButton {
        display: flex;
        position: absolute;
        right: 96px;
        top: 64px;
        color: $primary !important;
      }

      .small-menu {
        .menuCloseButton {
          display: flex;
          position: absolute;
          right: 96px;
          top: 64px;
          color: $primary;
        }

        ul {
          background-color: rgba(0, 0, 0, 0.6);
          height: 100vh;
          display: flex;
          flex-direction: column;
          justify-content: center;
          padding: 0;
        }

        li {
          padding: 0.8rem 0;
          margin-left: 0;
        }

        a {
          font-size: 1.4rem;
        }
      }
    }

    .header-main {
      display: flex;
      justify-content: flex-end;
      margin-right: 7.3rem;
    }
    .header-core {
      img {
        margin-top: 12vh;
        width: 9.4rem;
      }

      h1, h2, a {
        color: #afc67b;
      }

      h1 {
        font-size: 3.6rem;
        margin-top: 7vh;
      }

      h2 {
        font-size: 4.9rem;
        margin-top: -30px;
      }

      .learnMoreButton {
        margin-top: 10vh;
        a {
          font-size: 3.1rem;
          text-decoration: none;
          border: solid transparent 1px;
          transition: all 200ms ease-in-out;
          transition-property: border-color, background-color;
          &:hover {
            border-color: $primary;
            background-color: transparent;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .menuOpenButton, .menuCloseButton {
    top: 48px !important;
    right: 48px !important;
  }
  .header-main {
    margin-right: 0 !important;
    justify-content: center !important;
  }
  .header-core {
    padding: 0 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around !important;
    img {
      margin-top: 5vh !important;
    }

    h1 {
      font-size: 1.9rem !important;
      margin-top: 0 !important;
    }

    h2 {
      font-size: 2.69rem !important;
      margin-top: -20px !important;
    }

    .learnMoreButton {
      margin-top: 0 !important;
      margin-bottom: 20vh !important;

      a {
        font-size: 1.5rem !important;
      }
    }
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .header-main {
    margin-right: 0 !important;
    justify-content: center !important;
  }
  .header-core {
    padding: 0 2rem !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: space-around !important;
    img {
      margin-top: 5vh !important;
    }
    h1 {
      font-size: 2.5rem !important;
      margin-top: 0 !important;
    }
    h2 {
      font-size: 3.5rem !important;
      margin-top: -25px !important;
    }
    .learnMoreButton {
      margin-top: 0 !important;
      margin-bottom: 20vh !important;
      a {
        font-size: 2rem !important;
      }
    }
  }
}



// Tablets
@media (min-width: 769px) and (max-width: 1024px) {
  .header-content nav a {
    font-size: 1.8rem !important;
  }
  .header-main {
    margin-right: 7.6rem !important;
  }
  .header-core {
    h1 {
      font-size: 2.95rem !important;
    }
    h2 {
      font-size: 4rem !important;
    }
    a {
      font-size: 2.5rem !important;
    }
  }
}
