// Smartphones
@media (max-width: 480px) {
  html {
    font-size: 50% !important;
  }
}


// Smartphones to Tablets
@media (min-width: 481px) and (max-width: 767px) {
  html {
    font-size: 60% !important;
  }
}


// Tablets
@media (min-width: 768px) and (max-width: 959px) {
  html {
    font-size: 70% !important;
  }
}


// Desktop
@media (min-width: 960px) and (max-width: 1199px) {
  html {
    font-size: 80% !important;
  }
}


// Large Display
@media (min-width: 1200px) {

}
